<% provide :title, t("view.admin.subject.new.page_title") %>
<% content_for :head_content do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <style>
    .bootstrap-select>.dropdown-toggle.btn {
      height: calc(1.5em + 1.3rem + 2px);
    }
  </style>
<% end %>
<!--begin::Subheader-->
<div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
  <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex align-items-center flex-wrap mr-1">
      <!--begin::Page Heading-->
      <div class="d-flex align-items-baseline flex-wrap mr-5">
        <!--begin::Page Title-->
        <h2 class="subheader-title text-dark font-weight-bold my-1 mr-3"><%= t("view.admin.subject.index.page_title") %></h2>
        <!--end::Page Title-->
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold my-2 p-0">
          <li class="breadcrumb-item">
            <a href="" class="text-muted"><%= t("view.admin.subject.general.subjects") %></a>
          </li>
          <li class="breadcrumb-item">
            <a href="" class="text-muted"><%= t("view.admin.subject.new.new") %></a>
          </li>
        </ul>
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page Heading-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Subheader-->

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <%# debugger %>
    <%= render 'shared/extras/alert' %>
    <div class="card card-custom">
      <div class="card-header">
        <div class="card-title">
          <span class="card-icon">
            <i class="flaticon2-favourite text-primary"></i>
          </span>
          <h3 class="card-label"><%= t("view.admin.subject.new.new_subject") %></h3>
        </div>
      </div>
      <div class="card-body">
        <%= form_for [:admin, @subject], class: "form" do |f| %>
          <ul class="nav nav-tabs nav-tabs-line mb-5">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">
                <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                <span class="nav-text">Info</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">
                <span class="nav-icon"><i class="flaticon2-pie-chart-4"></i></span>
                <span class="nav-text">Tasks</span>
              </a>
            </li>
          </ul>
          <div class="tab-content mt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_2">
              <div class="card-body">
                <div class="form-group <%= @subject.errors[:name].present? ? "validated" : "" %>">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control #{@subject.errors[:name].present? ? "is-invalid" : ""}", placeholder: "" %>
                  <%= render(partial: 'shared/admin/extras/form-validation-errors', locals: {obj: @subject.errors[:name], field_name: :name.capitalize}) if @subject.errors[:name].present? %>
                </div>
                <div class="form-group <%= @subject.errors[:name].present? ? "validated" : "" %>">
                  <%= f.label :description %>
                  <%= f.text_area :description, class: "form-control #{@subject.errors[:description].present? ? "is-invalid" : ""}", rows: 3 %>
                  <%= render(partial: 'shared/admin/extras/form-validation-errors', locals: {obj: @subject.errors[:description], field_name: :description.capitalize}) if @subject.errors[:description].present? %>
                </div>
                <div class="form-group <%= @subject.errors[:name].present? ? "validated" : "" %>">
                  <%= f.label :status %>
                  <div class="radio-inline">
                    <label class="radio radio-success">
                      <%= f.radio_button :status, Subject.statuses[:pending].to_i %>
                      <span></span>
                      <%= t("view.admin.subject.general.pending") %>
                    </label>
                    <label class="radio radio-success">
                      <%= f.radio_button :status, Subject.statuses[:started].to_i %>
                      <span></span>
                      <%= t("view.admin.subject.general.started") %>
                    </label>
                    <%= render(partial: 'shared/admin/extras/form-validation-errors', locals: {obj: @subject.errors[:status], field_name: :status.capitalize}) if @subject.errors[:status].present? %>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
              <div class="card-body">
                <div class='fields'>
                  <%= f.fields_for :tasks do |builder| %>
                    <%= render 'task', f: builder %>
                  <% end %>
                </div>
                <%= link_to_add_row('Add Task', f, :tasks, class: 'btn btn-success') %>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <span class="ml-2">or <%= link_to "Cancel", admin_subjects_path, class: "font-weight-bold ml-2" %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--end::Container-->
</div>
<!--end::Entry-->

<% content_for :footer_content do %>
  <script>
      $(document).on('turbolinks:load', function() {
          $('form').on('click', '.remove_record', function(event) {
              $(this).prev('input[type=hidden]').val('1');
              $(this).closest('div').hide();
              return event.preventDefault();
          });

          $('form').on('click', '.add_fields', function(event) {
              var regexp, time;
              time = new Date().getTime();
              regexp = new RegExp($(this).data('id'), 'g');
              $('.fields').append($(this).data('fields').replace(regexp, time));
              return event.preventDefault();
          });
      });
  </script>
<% end %>