<tr>
  <td class="pl-8 py-8">
    <div class="d-flex align-items-center">
        <span class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
          <%= task.name %>
        </span>
    </div>
  </td>
  <td>
    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
        <%= pluralize(task.duration, t("view.task.index.hour")) %>
    </span>
  </td>
  <td>
    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
        <%= task.step %>
    </span>
  </td>
  <td>
    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
        <%= task.description %>
    </span>
  </td>
  <td>
    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
        <span class="label label-lg font-weight-boldlabel-light-primary label-inline">
          <%= I18n.localize task.created_at, format: t("app.dates.format") %>
        </span>
    </span>
  </td>
  <td class="pr-0 text-right">
    <span class="label label-xl label-<%= @statuses[task.id] == t("controller.task.index.finished") ? "success" : "info" %> label-inline mr-2"><%= @statuses[task.id] %></span>
  </td>
</tr>