<div class="card-body pt-2">
  <div class="d-flex flex-row-reverse">
    <div class="dataTables_length" id="kt_datatable_length">
      <label><%= t("view.user.show.tabs.course_tab.filter_label") %>
        <select name="kt_datatable_length" aria-controls="kt_datatable" class="custom-select custom-select-sm form-control form-control-sm" onchange="window.location.href=this.value">
          <option value="<%= full_user_url_with_params(:id, status: "started") %>" <%= "selected" if params[:status] == "started" %>>Started</option>
          <option value="<%= full_user_url_with_params(:id, status: "pending") %>" <%= "selected" if params[:status] == "pending" %>>Pending</option>
          <option value="<%= full_user_url_with_params(:id, status: "finished") %>" <%= "selected" if params[:status] == "finished" %>>Finished</option>
          <option value="<%= full_user_url_with_params(:id, status: "all") %>" <%= "selected" if params[:status] == "all" %>>All</option>
        </select></label>
    </div>
  </div>

  <% if @collection[0][1].present? %>
    <% @collection.each do |course, user_course_status| %>
      <!--begin::Item-->
      <div class="d-flex flex-wrap align-items-center mb-10">
        <!--begin::Symbol-->
        <div class="symbol symbol-60 symbol-2by3 flex-shrink-0">
          <!--        <div class="symbol-label" style="background-image: url('/metronic/theme/html/demo1/dist/assets/media/stock-600x400/img-20.jpg')"></div>-->
        </div>
        <!--end::Symbol-->
        <!--begin::Title-->
        <div class="d-flex flex-column ml-4 flex-grow-1 mr-2">
<!--          <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1"><%#= course.name %></a>-->
          <%= link_to course.name, course_path(course), class: "text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1", method: :get%>
          <div class="d-flex flex-lg-row flex-grow-1 mr-3">
            <p class="mr-2"><%= t("view.user.show.tabs.course_tab.description_span") %></p>
            <p class="text-muted font-weight-bold"><%= course.description %></p>
          </div>
          <div class="d-flex flex-lg-row flex-grow-1 mr-3">
            <p class="mr-2"><%= t("view.user.show.tabs.course_tab.day_start_label") %></p>
            <p class="text-muted font-weight-bold mr-5"><%= I18n.localize course.day_start, format: t("app.dates.format") %></p>
            <p class="mr-2"><%= t("view.user.show.tabs.course_tab.day_end_label") %></p>
            <p class="text-muted font-weight-bold"><%= I18n.localize course.day_end, format: t("app.dates.format") %></p>
          </div>
        </div>
        <!--end::Title-->
        <!--begin::btn-->
        <span class="label label-lg label-light-<%= modify_label_color(user_course_status.status) if user_course_status.present? %> label-inline mt-lg-0 mb-lg-0 my-2 font-weight-bold py-4">
          <%= user_course_status.status if user_course_status.present? %>
        </span>
        <!--end::Btn-->
      </div>
    <% end %>
  <% else %>
    <label class="text-danger"><%= t("view.user.show.tabs.course_tab.no_data_message") %></label>
  <% end %>
  <!--end::Item-->
</div>
