<% provide :title, t("view.subject.show.page_title") %>
<% content_for :head_content do %>
  <link href="<%= root_url %>assets/plugins/custom/datatables/datatables.bundle.css?v=7.0.6" rel="stylesheet" type="text/css"/>
<% end %>
<!--begin::Subheader-->
<div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
  <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex align-items-center flex-wrap mr-1">
      <!--begin::Page Heading-->
      <div class="d-flex align-items-baseline flex-wrap mr-5">
        <!--begin::Page Title-->
        <h2 class="subheader-title text-dark font-weight-bold my-1 mr-3"><%= t("view.subject.show.show_subject") %></h2>
        <!--end::Page Title-->
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold my-2 p-0">
          <li class="breadcrumb-item">
            <a href="" class="text-muted"><%= t("view.subject.general.subjects") %></a>
          </li>
          <li class="breadcrumb-item">
            <a href="" class="text-muted"><%= @subject.name %></a>
          </li>
        </ul>
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page Heading-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Subheader-->
<div class="d-flex flex-column-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <!--begin::List Widget 19-->
        <div class="card card-custom  card-stretch gutter-b">
          <!--begin::Header-->
          <div class="card-header border-0 pt-6 mb-2">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label font-weight-bold font-size-h4 text-dark-75 mb-3"><%= t("view.subject.show.subject_info") %></span>
            </h3>
            <div class="card-toolbar">
              <a href="<%= subject_tasks_path(@subject) %>" class="btn btn-danger font-weight-bolder font-size-sm"><i class="far fa-list-alt"></i> <%= t("view.subject.show.task_list") %></a>
            </div>
          </div>
          <!--end::Header-->

          <!--begin::Body-->
          <div class="card-body pt-2">
            <!--begin::Table-->
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <tbody>
                <!--begin::Item-->
                <tr>
                  <td scope="row" class="w-40px align-middle pb-6 pl-0 pr-2">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-40 symbol-light-success">
                      <span class="symbol-label">
                          <span class="svg-icon svg-icon-lg svg-icon-success"><!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Cart3.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <rect x="0" y="0" width="24" height="24"/>
                                  <path d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                  <path d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z" fill="#000000"/>
                              </g>
                            </svg><!--end::Svg Icon-->
                          </span>
                      </span>
                    </div>
                    <!--end::Symbol-->
                  </td>
                  <td class="font-size-lg font-weight-bolder text-dark-75 align-middle w-150px pb-6"><%= t("view.subject.show.name") %></td>
                  <td class="font-weight-bold text-muted text-right align-middle pb-6"><%= @subject.name %></td>
                </tr>
                <!--end::Item-->

                <!--begin::Item-->
                <tr>
                  <td scope="row" class="w-40px pb-6 pl-0 pr-2">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-40 symbol-light-danger align-middle">
                      <span class="symbol-label">
                          <span class="svg-icon svg-icon-lg svg-icon-danger"><!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"/>
                                    <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"/>
                                </g>
                            </svg><!--end::Svg Icon-->
                          </span>
                      </span>
                    </div>
                    <!--end::Symbol-->
                  </td>
                  <td class="font-size-lg font-weight-bolder text-dark-75 w-150px align-middle pb-6"><%= t("view.subject.show.description") %>
                  </td>
                  <td class="font-weight-bold text-muted text-right align-middle pb-6"><%= @subject.description %></td>
                </tr>
                <!--end::Item-->

                <!--begin::Item-->
                <tr>
                  <td scope="row" class="w-40px pb-6 pl-0 pr-2">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-40 symbol-light-primary align-middle">
                      <span class="symbol-label">
                          <span class="svg-icon svg-icon-lg svg-icon-primary"><!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Group.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                    <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                    <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                </g>
                            </svg><!--end::Svg Icon-->
                          </span>
                      </span>
                    </div>
                    <!--end::Symbol-->
                  </td>
                  <td class="font-size-lg font-weight-bolder text-dark-75 w-150px align-middle pb-6"><%= t("view.subject.show.number_of_tasks") %></td>
                  <td class="font-weight-bold text-muted text-right align-middle pb-6"><%= @subject.tasks.count %></td>
                </tr>
                <!--end::Item-->

                <!--begin::Item-->
                <tr>
                  <td scope="row" class="w-40px pl-0 pr-2">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-40 symbol-light-warning align-middle">
                      <span class="symbol-label">
                          <span class="svg-icon svg-icon-lg svg-icon-warning"><!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"/>
                                    <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) " x="16.3255682" y="2.94551858" width="3" height="18" rx="1"/>
                                </g>
                            </svg><!--end::Svg Icon-->
                          </span>
                      </span>
                    </div>
                    <!--end::Symbol-->
                  </td>
                  <td class="font-size-lg font-weight-bolder text-dark-75 w-150px align-middle"><%= t("view.subject.show.created_at") %></td>
                  <td class="font-weight-bold text-muted text-right align-middle"><%= I18n.localize @subject.created_at, format: t("app.dates.format") %></td>
                </tr>
                <!--end::Item-->
                </tbody>
              </table>
            </div>
            <!--end::Table-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::List Widget 19-->
      </div>
      <div class="col-lg-4">
        <!--begin::Mixed Widget 14-->
        <div class="card card-custom card-stretch gutter-b">
          <!--begin::Header-->
          <div class="card-header border-0 pt-5">
            <h3 class="card-title font-weight-bolder "><%= t("view.subject.show.progress") %></h3>
          </div>
          <!--end::Header-->

          <!--begin::Body-->
          <div class="card-body d-flex flex-column">
            <div class="flex-grow-1">
              <div id="kt_mixed_widget_14_chart" style="height: 200px"></div>
            </div>
            <div class="pt-5">
              <p class="text-center font-weight-normal font-size-lg pb-7">
                <%= t("view.subject.show.progress_desc") %>
              </p>
              <a href="<%= new_subject_task_path(@subject) %>" class="btn btn-success btn-shadow-hover font-weight-bolder w-100 py-3"><%= t("view.subject.show.generate_report") %></a>
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Mixed Widget 14-->
      </div>
    </div>
  </div>
</div>
<%= content_for :footer_content do %>
  <script>
      var KTWidgets = function() {
          return {
              init: function() {
                  var e, o;
                  ! function() {
                      var t = document.getElementById("kt_mixed_widget_14_chart"),
                          e = parseInt(KTUtil.css(t, "height"));
                      if (t) {
                          var o = {
                              series: [<%= @task_progress %>],
                              chart: {
                                  height: e,
                                  type: "radialBar"
                              },
                              plotOptions: {
                                  radialBar: {
                                      hollow: {
                                          margin: 0,
                                          size: "65%"
                                      },
                                      dataLabels: {
                                          showOn: "always",
                                          name: {
                                              show: !1,
                                              fontWeight: "700"
                                          },
                                          value: {
                                              color: KTApp.getSettings().colors.gray["gray-700"],
                                              fontSize: "30px",
                                              fontWeight: "700",
                                              offsetY: 12,
                                              show: !0
                                          }
                                      },
                                      track: {
                                          background: KTApp.getSettings().colors.theme.light.success,
                                          strokeWidth: "100%"
                                      }
                                  }
                              },
                              colors: [KTApp.getSettings().colors.theme.base.success],
                              stroke: {
                                  lineCap: "round"
                              },
                              labels: ["Progress"]
                          };
                          new ApexCharts(t, o).render()
                      }
                  }()
              }
          }
      }();
      "undefined" != typeof module && (module.exports = KTWidgets), jQuery(document).ready(function() {
          KTWidgets.init()
      });
  </script>
<% end %>