<tr role="row" class="<%= index % 2 == 0 ? "even" : "odd"  %>">
  <td><%= link_to course.name, [:admin,course] %></td>
  <td><%= course.description %></td>
  <td>
    <% if course.pending? %>
    <span class="label label-info label-dot mr-2"></span>
    <span class="font-weight-bold text-info"><%=t("view.admin.course.index.pending")%></span>
    <% elsif course.started? %>
    <span class="label label-success label-dot mr-2"></span>
    <span class="font-weight-bold text-success"><%=t("view.admin.course.index.started")%></span>
    <% else %>
    <span class="label label-primary label-dot mr-2"></span>
    <span class="font-weight-bold text-primary"><%=t("view.admin.course.index.finish")%></span>
    <% end %>
 </td>
  <%if check_owner(course)%>
  <td><%=t("view.admin.course.index.owner")%></td>
  <%else%>
  <td><%=t("view.admin.course.index.supervisor")%></td>
  <%end%>
 <td nowrap="nowrap">
      <%if check_owner(course)%>
      <%= link_to admin_course_path(course.id), class: "btn btn-sm btn-clean btn-icon", method: :delete, data: {confirm: "Are you sure?"}, remote: :true, class: "destroy-course" do %>
      <i class="la la-trash"></i>
      <% end %>
      <%end%>
  </td>
</tr>